notebooks/HomeWork.csv

__pycache__/

.vscode/

src/app/modelling/features/data/*.csv

hw6/data/*.csv
src/metrics/*.pkl
src/metrics/catboost_info/

*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

venv/
.venv/
env/
ENV/
.conda/

.ipynb_checkpoints/
*.ipynb_checkpoints

.env
.env.*
!.env-example
*.key
*.pem

.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

*.sqlite3
*.db
db.sqlite3

*.csv
*.xlsx
*.parquet
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx
data/
datasets/
models/
hw6/models/
!requirements.txt

*.log
logs/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.dvc/tmp/
.dvc/cache/

Расчет_максимальной_прибыли.xlsx
1000_заявлений.csv
!hw6/data/val_features.csv
